.active a {
	color: $primary !important;
}

.featured-img {
    display: none;
}

.main-feature {
	padding: 3rem 0;
}

.brand-title-header {
	color: $primary;
}

.box {
	padding: 1rem;
}

.dp {
	max-width: 150px;
}

@media screen and (min-width: 768px) {
    .featured-img {
        display: block;
    }
}

@media screen and (min-width: 992px) {	
	.main-feature {
		padding: 6rem 1rem;
	}

	.main-header {
		padding: 0 0 3.5rem 0rem;
		margin-bottom: calc(100vh - 35rem);
	}

	.featured-img {
		max-width: 300px;
	}

	.box {
		// margin: 0 .5rem;
		padding: 1rem;
	}
	
}