
// // Body
// $body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: "Raleway", sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

// Fontawesome
$fa-font-path: '../webfonts';

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

.bg-indigo {
    background: $indigo;
}

.text-indigo {
    color: $indigo;
}

.bg-purple {
    background: $purple;
}

.text-purple {
    color: $purple;
}

.bg-pink {
    background: $pink;
}

.text-pink {
    color: $pink;
}

.bg-teal {
    background: $teal;
}

.text-teal {
    color: $teal;
}

.bg-orange {
    background: $orange;
}

.text-orange {
    color: $orange;
}

.bg-cyan {
    background: $cyan;
}

.text-cyan {
    color: $cyan;
}

$enable-gradients: true;

// Gradients 

.bg-gradient-gray {
    background-image: linear-gradient(to right, 
    #D7E1EC, #FFFFFF) !important;
}

